@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

/*Criando variaveis para os estilos*/
:root{
    --cor-fundo1:white;
    --font-titulos:'Roboto', sans-serif;
    --font-paragra:'Titillium Web', sans-serif;
}
details{
    font-family: var(--font-paragra);
    transition: 0.3s;
}
#html{
    width: 30vw;
    margin-left: 25vw;
}
#css{
    background-color: #5294cb;
    width: 30vw;
    margin-left: 25vw;
}
#js{
    background-color: #f3db1c;
    width: 30vw;
    margin-left: 25vw;
}
#wp{
    background-color: #75b2d4;
    width: 30vw;
    margin-left: 25vw;
}
#html:hover
{
    transition: 1.4s;
    background-color: #ec642b;
}