@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');

/*Criando variaveis para os estilos*/
:root{
    --cor-fundo1:white;
    --font-titulos:'Roboto', sans-serif;
    --font-paragra:'Titillium Web', sans-serif;
}
body{
    text-align: center;
}
*{
    margin: 0;
    padding: 0;
}

h1,h2,h3{
    font-family: var(--font-titulos);   
}

a{
    list-style: none;
    color: black;
    font-family: var(--font-paragra);
}
p{
    font-family: var(--font-paragra);
    margin: 20px 20px;
}
.front{
    margin: 10vw 10vh;
}
picture{
    margin-left: 5vw;
    cursor: pointer;
    display: contents;
}
img{
    padding: 3vh 2vw;
}
.texto{
    opacity: 0; /* Start with 0 opacity (invisible) */
    transition: opacity 3s ease;
}

#back{
    margin: 10vw 10vh;
}


